Package: com.jdc0rp.pepe
Name: Pepe
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: BadmanJD
Author: BadmanJD
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 72
